/*global*/
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.no-scroll {
  overflow: hidden !important;
}

.container {
  max-width: 1130px;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.justify-fend {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button-wrapper {
  text-align: center;
}

.btn {
  background: #F42632;
  color: #fff;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  border-radius: 8px;
  color: #fff;
}

.btn:hover {
  background: #f65760;
  color: #e6e6e6;
}

.section__title {
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
}

.section__title-sm {
  font-weight: 300;
  font-size: 17px;
  line-height: 26px;
  color: rgba(255, 58, 70, 0.6);
}

.section__title span {
  color: #F42632;
}

/*header*/
.header__top-row {
  padding: 8px 10px;
  margin: 0 auto;
  max-width: 1160px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__choose svg {
  vertical-align: revert;
  margin-right: 6px;
}

.header__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__phone-text {
  padding-right: 6px;
}

.header__phone-link {
  padding-left: 6px;
  border-left: 2px solid #000;
  font-size: 20px;
  padding: 0 8px;
  line-height: 30px;
}

.header__bottom {
  background: #F42632;
  color: #fff;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.header__bottom.active {
  left: 0;
}

.header__bottom .container {
  padding: 33px 10px 32px;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 641px;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__nav-link {
  -webkit-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}

.header__nav-link:hover {
  color: #e6e6e6;
}

.header__nav-list {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.header__nav-item {
  cursor: pointer;
}

.header__nav-item img {
  vertical-align: middle;
}

.header__nav-parent {
  position: relative;
}

.header__subnav {
  background: #F42632;
  padding: 5px 10px;
  -webkit-box-shadow: 0 0 9px #fff;
          box-shadow: 0 0 9px #fff;
  display: none;
  position: absolute;
  right: -70px;
}

.header__subnav.active {
  display: block;
}

.header__subnav-list {
  font-size: 18px;
}

.header__menu {
  display: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.menu {
  position: relative;
  width: 30px;
  height: 30px;
  margin-left: 10px;
  cursor: pointer;
}

.menu__close, .menu__open {
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.menu__close {
  -webkit-transform: scale(0) rotate(0);
          transform: scale(0) rotate(0);
}

.menu__close.active {
  -webkit-transform: scale(1) rotate(360deg);
          transform: scale(1) rotate(360deg);
}

.menu__open {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.menu__open.active {
  -webkit-transform: scale(1);
          transform: scale(1);
}

/*hero*/
.hero {
  height: calc(100vh - 141px);
  position: relative;
  color: #fff;
}

.hero .container {
  padding: 80px 10px 180px;
}

.hero__img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  right: 0;
  top: 0;
}

.hero__title {
  font-weight: 600;
  font-size: 70px;
  line-height: 117%;
  max-width: 821px;
  margin-bottom: 30px;
}

.hero__desc {
  font-size: 30px;
  line-height: 136.5%;
  letter-spacing: 0.03em;
  color: #EAEAEA;
  max-width: 680px;
  margin-bottom: 45px;
}

.hero__link {
  background: #F42632;
  -webkit-box-shadow: 0px 0px 23px #F42632;
          box-shadow: 0px 0px 23px #F42632;
  border-radius: 8px;
  padding: 15px 43px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  margin-right: 50px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.hero__link:hover {
  background: #f65760;
  -webkit-box-shadow: 0px 0px 23px #f65760;
          box-shadow: 0px 0px 23px #f65760;
  color: daken(#fff, 10%);
}

.hero__more {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #FFFFFF;
}

/*work*/
.works .container {
  padding: 80px 10px 100px;
}

.works__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 80px;
}

.works__row {
  min-height: 230px;
  gap: 10px;
}

.works__row:not(:last-child) {
  margin-bottom: 30px;
}

.works__btn {
  margin-top: 42px;
  padding: 11px 33px;
}

.work {
  max-width: 128px;
  width: 100%;
  text-align: center;
}

.work__img {
  margin-bottom: 30px;
}

.work__text {
  font-size: 14px;
  line-height: 21px;
  color: #2F1E1E;
}

.work__card {
  position: relative;
  padding: 0 0 14px 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.work__card-big {
  max-width: 560px;
  width: 100%;
}

.work__card-sm {
  max-width: 255px;
  width: 100%;
}

.work__card-img {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.work__card-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 136.5%;
  color: #FFFFFF;
}

/*about*/
.about {
  background: #FAFAFA;
}

.about .container {
  padding: 40px 10px 100px;
}

.about__info {
  max-width: 635px;
  width: 100%;
  padding-right: 10px;
}

.about__images {
  max-width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}

.about__title {
  color: #272727;
  margin-bottom: 50px;
}

.about__title-sm {
  margin-bottom: 34px;
}

.about__text {
  font-size: 28px;
  line-height: 146%;
  color: #4B4B4B;
}

/*action*/
.action {
  padding-bottom: 80px;
}

.consult {
  color: #fff;
  padding: 80px 0 0 0;
  margin-bottom: 80px;
}

.consult .container {
  padding: 55px 10px 94px;
}

.consult__block {
  background: url("../img/consult.jpg") no-repeat center/cover;
}

.consult__title {
  font-weight: 700;
  line-height: 128.52%;
  margin-bottom: 15px;
}

.consult__text {
  font-weight: 500;
  font-size: 24px;
  line-height: 128.52%;
  color: #E9E9E9;
  margin-bottom: 40px;
}

.consult__form {
  gap: 30px;
}

.consult__inp {
  padding: 19px 0 19px 19px;
  background: #F0F0F0;
  border-radius: 8px;
  width: 100%;
  color: #000;
  font-size: 19px;
}

.consult__inp::-webkit-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 26px;
  color: #888888;
}

.consult__inp:-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 26px;
  color: #888888;
}

.consult__inp::-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 26px;
  color: #888888;
}

.consult__inp::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 26px;
  color: #888888;
}

.consult__btn {
  width: 100%;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
}

.suppliers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 142px;
}

.suppliers__block {
  max-width: 1110px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.suppliers__title {
  margin-bottom: 80px;
}

.questions {
  padding-bottom: 100px;
}

.questions__title {
  margin-bottom: 40px;
}

.questions__content {
  border-top: 1px solid #3A3A3A;
}

.questions__content:last-child {
  border-bottom: 1px solid #3A3A3A;
}

.questions__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  padding: 39px 0;
}

/*footer*/
.footer {
  color: #3C3C3C;
  font-size: 20px;
  line-height: 30px;
  background: #EFEFEF;
}

.footer .container {
  padding: 30px 10px 80px;
}

.footer__row {
  margin-bottom: 28px;
}

.footer__nav {
  max-width: 640px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.footer__nav-link:hover {
  color: #626262;
}

.footer__socials {
  max-width: 148px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*media*/
@media (max-width: 991.98px) {
  .hero__title {
    font-size: 40px;
  }
  .hero__desc {
    font-size: 22px;
  }
  .hero__link {
    font-size: 18px;
  }
  .hero__more {
    font-size: 18px;
  }
  .section__title {
    font-size: 30px;
    line-height: 40px;
  }
  .works__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .work__card-big {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    width: 100%;
    max-width: 100%;
    min-height: 260px;
  }
  .work__card-sm {
    max-width: 50%;
    width: 48%;
    min-height: 220px;
  }
  .about .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about__images {
    max-width: 100%;
  }
  .about__text {
    margin-bottom: 15px;
  }
  .footer__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__nav {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (max-width: 767.98px) {
  .works__block {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .works__row:not(:last-child) {
    margin-bottom: 10px;
  }
  .consult__form {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .consult__inp {
    max-width: 320px;
  }
  .consult__btn {
    max-width: 180px;
    padding: 14px 0;
  }
}

@media (max-width: 499.98px) {
  .header__top-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__bottom {
    position: absolute;
    left: -100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 320px;
    z-index: 1;
    top: 0;
    height: 100%;
    padding: 0 40px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__bottom .row {
    height: 75%;
  }
  .header__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .hero__link {
    display: block;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    max-width: 320px;
    margin: 0;
    margin-bottom: 17px;
  }
  .footer__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .works__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .section__title {
    font-size: 26px;
  }
  .questions__text {
    font-size: 18px;
    line-height: 24px;
  }
  .questions__button {
    margin-left: 10px;
  }
  .about__images {
    gap: 10px;
  }
}

@media (max-width: 423.98px) {
  .header__nav-list {
    font-size: 17px;
    line-height: 24px;
  }
  .work__card-title {
    font-size: 19px;
  }
  .work__card-sm {
    min-height: 160px;
  }
  .work__card-big {
    min-height: 200px;
  }
  .suppliers__block {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .suppliers-img img {
    max-width: 100%;
  }
  .about__images {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .about__img {
    max-width: 180px;
    width: 100%;
  }
}

@media (max-width: 425.98px) {
  .about__title {
    margin-bottom: 20px;
  }
  .about__text {
    font-size: 20px;
  }
}
